---
import Layout from '../layouts/Layout.astro';
import FrontPage from "../components/index/FrontPage.astro"

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Inicio">
    <FrontPage />
    <hr class="separator">
    <article>
        <h2><span>Skills</span></h2>
    </article>
</Layout>

<style></style>
