---
---

<footer class="fl-btw">
    <h2>JuanMen<span>Dev</span></h2>
    <section class="fl-end">
        <h4 class="fl-center" style="align-items: center;">Creado con <span><i class="bi bi-heart-fill" style="color:rgb(216, 63, 63);"></i> y <img src="/images/icons/astro.webp" alt="icono astro" style="width: 24px;" /></span></h4>
    </section>
</footer>

<style>
    footer{
        width: 100%;
        margin: auto ;
        border-radius: 0px;
        padding-block: 16px;
        padding-inline: 10%;
        border-top: solid 2px rgba(255, 255, 255, 0.1);
        content-visibility: auto;
        contain-intrinsic-size: 5dvh 80dvw; /* 200px de alto, 500px de ancho */
    }
    span{
        padding-bottom: 0.5rem;
    }
    
</style>