---
---

<footer class="fl-btw">
    <section>
        <h2>JuanMen<span>Dev</span></h2>
    </section>
</footer>

<style>
    footer{
        width: 100%;
        margin: auto ;
        border-radius: 0px;
        padding-block: 16px;
        padding-inline: 10%;
        border-top: solid 2px rgba(255, 255, 255, 0.1);
    }
</style>