.fl-btw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.fl-even {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 16px;
}

.fl-ard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
}

.fl-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.fl-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 16px;
}

.fl-end {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-wrap: nowrap;
  gap: 16px;
}
.fl-start {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  gap: 16px;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(10px);
  padding-inline: 16px;
  padding-block: 8px;
  color: #e9ecef;
  border: solid 3px var(--AcentColor);
  border-radius: 10px;
  filter: drop-shadow(0px 0px 5px #ffffff2a);
  transition: all 0.25s linear;
}

article.glass-effect {
  padding: 16px !important;
  border: solid 2px #ffffff1a !important;

  border-radius: 12px;
  backdrop-filter: blur(20px);
  filter: none !important;
}
article.glass-effect:nth-child(even) {
  width: 90%;
  margin: auto;
}
@media screen and (max-width: 800px) {
  article.glass-effect:nth-child(even) {
    width: 100%;
  }
}
.glass-effect img {
  position: relative;
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  transition: all 0.3s linear;
}
a.glass-effect {
  filter: none;
  background: var(--OneColor);
  &:hover {
    background: var(--TransparentAcentColor);
    transform: scale(1.01);
    opacity: 1;
    filter: drop-shadow(0px 0px 5px #ffffff2a);
  }
}

.img-aspect-1-1 {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 100%;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.9;
}

.gd-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.gd-auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 16px;
}
