<section class="fl-even">
    <aside class="fl-column" id="Contacto">
        <h1><span>¡Contactame!</span></h1>
        <h3>¿Estás listo para tu siguiente proyecto?</h3>
        <p>
        ¡Estoy para ayudarte!, ponte en contácto conmigo para llevar tu idea o negocio a lo digital
        </p>
    </aside>
    <a href="mailto:contacto@juanmendev.com" class="glass-effect fl-center">
       <i class="bi bi-envelope-fill"></i> Contactar
    </a>

</section>


<style>
    section{
        margin-inline: auto;
        padding-block:24px;
        margin-bottom: 50px !important;
        width: 80%;
        flex-wrap: wrap;
        content-visibility: auto;
        contain-intrinsic-size: 5dvh 80dvw;
    }

    aside, a{
        width: 49%;
    }

    @media screen and (max-width:800px) {
        aside, a{
            width: 100%;
        }
    }

    h3{
        opacity: 0.8;
    }
</style>