<h2 id="Experiencia"><span>Experiencia</span></h2>
<section class="experiences">
    <div id="bar">
    </div>
    <section class="fl-column">
        <aside class="fl-column glass-effect">
            <header class="fl-column">
                <h4>Nueva Era digital</h4>
                <h6>17 de Noviembre del 2024 - Actualidad</h6>
            </header>
            <p>
                Periodo de estadías/pasantías donde se realizarón diversos proyectos utilizando tecnologías como: Vue.JS, WordPress, Vite, Astro, JS Vanilla... . Además de configuraciones e instalaciones de maquinas en digital ocean y dockers.
            </p>
        </aside>
        <aside class="fl-column glass-effect">
            <header class="fl-column">
                <h4>Ingenieria</h4>
                <h6>1 de Noviembre del 2021 - Actualidad</h6>
            </header>
            <p>
                Estudios Universitarios en la Ingenieria en Entornos Virtuales y Negocios Digitales
            </p>
        </aside>
    </section>
</section>

<style>
    h2{
        padding-left: 10%;
        padding-top: 10dvh;
    }

.experiences{
    width: 100%;
    padding-inline: 20%;
    height: fit-content;
    display: grid;
    gap: 24px;
    grid-template-columns: 3px auto ;
    content-visibility: auto;
    contain-intrinsic-size: 5dvh 80dvw;
}

#bar{
    width: 100%;
    height: 80%;
    margin: auto 0;
    background: var(--textColorWhite);
    border-radius: 10px;
    opacity: 0.5;
    position: relative;
}

#bar::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background: var(--textColorWhite);
    opacity: 0.5;
    border-radius: 100%;
    bottom: -12px;
    left: -1px;
}

#bar::after{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background: var(--textColorWhite);
    opacity: 0.5;
    border-radius: 100%;
    bottom: -22px;
    left: -1px;
}
aside{
    width: 100%;
    position: relative;
    padding-inline: 2rem;

    &::before{
        position: absolute;
        clip-path: polygon(100% 100%, 100% 0, 0 50%);
        top: 0;
        left: -16px;
        content: "";
        background: var(--AcentColor);
        width: 15px;
        height: 100%;
    }
}

header h6{
    opacity: 0.8;
}
@media screen and (max-width:800px){
    .experiences{
        padding-inline: 10%;
    }
}
</style>