<section class="fl-even">
        <aside class="fl-column">
            <h3 class="subtitle">¡Hola soy,</h3>
            <h1 class="title">JuanMen<span>Dev</span>!</h1>
            <h4 class="subtitle">Desarrollador <span>Front-End</span></h4>
            <p>
                <i>"La interacción y la satisfacción del usuario es lo más gratificante, sobre todo si el proceso lo haces tuyo".</i>
            </p>
            <a href="#Proyectos" class="glass-effect">Ver Proyectos</a>
        </aside>
        <picture class="fl-center">
            <img class="img-aspect-1-1" src="https://juanmendev.com/logo.png" alt="Foto de JuanMenDev" loading="lazy">
        </picture>
    </section>


<style>
    section{
        width: 100%;
        height: 50dvh;
        
        flex-wrap: wrap;
    }
    aside{
        width: fit-content;
        max-width: 500px;
    }
    
    picture{
        width: 300px;
    }

    
</style>