<section class="fl-even">
        <aside class="fl-column">
            <h3 class="subtitle">¡Hola soy,</h3>
            <h1 class="title">JuanMen<span>Dev</span>!</h1>
            <h4 class="subtitle">Desarrollador Front-End</h4>
            <p>
                <i>"La interacción y la satisfacción del usuario es lo más gratificante, sobre todo si el proceso lo haces tuyo".</i>
            </p>
            <div class="fl-btw" style="flex-wrap:wrap;">
                <a href="#Proyectos" class="glass-effect"><i class="bi bi-window-stack"></i> Ver Proyectos</a>
                <a href="/cv/cv.pdf" download style="color: var(--textColorWhite)"><i class="bi bi-download"></i> Descargar CV</a>
                <a href="https://github.com/YushMC" target="_blank" rel="external noopener noreferrer"><i class="bi bi-github"></i></a>
                <a href="mailto:contacto@juanmendev.com" target="_blank" rel="external noopener noreferrer"><i class="bi bi-envelope-fill"></i></a>
            </div>
            
        </aside>
        <picture class="fl-center">
            <img class="img-aspect-1-1" src="/images/logo.webp" alt="Foto de JuanMenDev">
        </picture>
    </section>


<style>
    section{
        width: 100%;
        height: fit-content;
        min-height: 80dvh;
        flex-wrap: wrap;
        opacity: 0;
        visibility: hidden;
        transition: all 1s linear;
        animation: show 1s ease-in-out forwards;
    }
    aside{
        width: fit-content;
        max-width: 500px;
    }
    
    picture{
        width: 300px;
    }

    img{
        mask-image: linear-gradient(black 50%, transparent);
        outline-offset: 60px !important;
        outline-color:  rgba(255, 255, 255, 0.774)
    }
    
@media screen and (max-width:800px) {
    section{
        padding-inline: 10%;
    }
}
</style>