<section class="fl-even">
        <aside class="fl-column">
            <h3 class="subtitle">¡Hola soy,</h3>
            <h1 class="title">JuanMen<span>Dev</span>!</h1>
            <h4 class="subtitle">Desarrollador <span>Front-End</span></h4>
            <p>
                <i>"La interacción y la satisfacción del usuario es lo más gratificante, sobre todo si el proceso lo haces tuyo".</i>
            </p>
            <div class="fl-btw">
                <a href="#Proyectos" class="glass-effect"><i class="bi bi-window-stack"></i> Ver Proyectos</a>
                <a href="https://github.com/YushMC" target="_blank" rel="external noopener noreferrer"><i class="bi bi-github"></i></a>
            </div>
            
        </aside>
        <picture class="fl-center">
            <img class="img-aspect-1-1" src="/images/logo.webp" alt="Foto de JuanMenDev">
        </picture>
    </section>


<style>
    section{
        width: 100%;
        height: fit-content;
        min-height: 80dvh;
        flex-wrap: wrap;
        
    }
    aside{
        width: fit-content;
        max-width: 500px;
    }
    
    picture{
        width: 300px;
    }

    img{
        mask-image: linear-gradient(black 50%, transparent);
    }
    
</style>