<h2 id="Proyectos"><span>Proyectos</span></h2>
<section>
    <article class="fl-column glass-effect">
        <figure class="fl">
            <img src="/images/proyects/conciencia.webp" alt="Imagen del proyecto Conciencia Del Ser Divino"  decoding="async" loading="lazy" >
            <figcaption>Página de inicio</figcaption>
        </figure>
        <header>
            <h3>Conciencia del Ser Divino</h3>
        </header>
        <p>
            Sitio web <strong>SSR</strong> enfocado a la meditación que integra un sistema de usuarios y reservaciones, realizado en la empresa <em>Nueva Era Digital</em>.
        </p>
        <div class="fl-start">
            <label>Nuxt.js</label>
        </div>
        <a href="https://www.concienciadelserdivino.com.mx/" class="glass-effect" ><i class="bi bi-box-arrow-up-right"></i> Ir a Conciencia del Ser Divino</a>
    </article>
    <article class="glass-effect">
        <figure class="fl">
            <img src="/images/proyects/tomas.webp" alt="Imagen del proyecto Tomas" decoding="async" loading="lazy" >
            <figcaption>Página de Inicio</figcaption>
        </figure>
        <header>
            <h3>Tomas - Conciencia del Ser Divino</h3>
        </header>
        <p>
            Sitio web complemento al sitio web de <strong>Conciencia del Ser Divino</strong> realizado en la empresa <em>Nueva Era Digital</em>.
        </p>
        <div class="fl-start">
            <label>Vue.js</label>
        </div>
        <a href="https://toma.concienciadelserdivino.com.mx/" class="glass-effect" target="_blank"><i class="bi bi-box-arrow-up-right"></i> Ver Tomas</a>
    </article>
    <article class="fl-column glass-effect">
        <figure class="fl">
            <img src="/images/proyects/landing.webp" alt="Imagen del proyecto Ciudadana del Mundo"  decoding="async" loading="lazy" >
            <figcaption>Página de inicio</figcaption>
        </figure>
        <header>
            <h3>Ciudadana del Mundo</h3>
        </header>
        <p>
            Sitio web estático de tipo <strong>Landing Page</strong> realizado en la empresa <em>Nueva Era Digital</em>.
        </p>
        <div class="fl-start">
            <label>HTML</label><label>CSS</label><label>JS</label>
        </div>
        <a href="https://ciudadanadelmundo.com/" class="glass-effect"  target="_blank"><i class="bi bi-box-arrow-up-right"></i> Ir a Conciencia del Ser Divino</a>
    </article>
    <article class="glass-effect">
        <figure class="fl">
            <img src="/images/proyects/nueva_era.webp" alt="Imagen del proyecto Nueva Era Digital" decoding="async" loading="lazy" >
            <figcaption>Página de Inicio</figcaption>
        </figure>
        <header>
            <h3>Nueva Era Digital</h3>
        </header>
        <p>
            Sitio web estático para la empresa <strong>Nueva Era Digital</strong> llevada a cabo en el periodo de estadías (pasantías).
        </p>
        <div class="fl-start">
            <label>Vue.js</label><label>Sass</label>
        </div>
        <a href="https://nuevaeradigital.mx/" class="glass-effect" target="_blank"><i class="bi bi-box-arrow-up-right"></i> Ver Nueva Era Digital</a>
    </article>
    <article class="glass-effect">
        <figure class="fl">
            <img src="/images/proyects/paola.webp" alt="Imagen del proyecto Paola Cano" decoding="async" loading="lazy" >
            <figcaption>Página de Inicio</figcaption>
        </figure>
        <header>
            <h3>Paola Cano</h3>
        </header>
        <p>
            Sitio web estático de tipo <strong>Landing Page</strong> realizado en la empresa <em>Nueva Era Digital</em>.
        </p>
        <div class="fl-start">
            <label>Vue.js</label>
        </div>
        <a href="https://devproyectomed.netlify.app/" class="glass-effect" target="_blank"><i class="bi bi-box-arrow-up-right"></i> Ver Paola Cano (web site)</a>
    </article>
    <article class="glass-effect">
        <figure class="fl">
            <img src="/images/proyects/salabisnes.webp" alt="Imagen del proyecto Salabisness" decoding="async" loading="lazy" >
            <figcaption>Página de Inicio</figcaption>
        </figure>
        <header>
            <h3>Nueva Era Digital</h3>
        </header>
        <p>
            Sitio web estático para la empresa <strong>Salabisness</strong> realizado en la empresa <em>Nueva Era Digital</em>.
        </p>
        <div class="fl-start">
            <label>Astro</label><label>Sass</label>
        </div>
        <a href="https://github.com/YushMC/salabisness_dev" class="glass-effect" target="_blank"><i class="bi bi-box-arrow-up-right"></i> Ver Repositorio de Salabisness</a>
    </article>
     
    <article class=" fl-column glass-effect">
        <figure class="fl">
            <img src="/images/proyects/cica.webp" alt="Imagen del proyecto CICA 2023"  decoding="async" loading="lazy" >
            <figcaption>Página de inicio</figcaption>
        </figure>
        <header>
            <h3>CICA 2023</h3>
        </header>
        <p>
            Sitio web estático utilizado por el <strong>Congreso Interdiciplinario de Cuerpos Académicos</strong>.
        </p>
        <div class="fl-start">
            <label>Solo HTML y CSS</label>
        </div>
        <a href="https://yushmc.github.io/dev_cica2023/" class="glass-effect" target="_blank"><i class="bi bi-box-arrow-up-right"></i> Ir a CICA 2023</a>
    </article>
    
    <article class="glass-effect">
        <figure class="fl">
            <img src="/images/proyects/artGo.webp" alt="Imagen del proyecto ArtGo" decoding="async" loading="lazy" >
            <figcaption>Página de Inicio</figcaption>
        </figure>
        <header>
            <h3>ArtGo</h3>
        </header>
        <p>
            Sitio web creado para un <strong>Hackaton</strong> llevada a cabo por el <em>gobierno del estado de Guanajuato, México</em>.
        </p>
        <div class="fl-start">
            <label>Solo HTML y CSS</label>
        </div>
        <a href="https://yushmc.github.io/ArtGo/" class="glass-effect" target="_blank"><i class="bi bi-box-arrow-up-right"></i> Ver ArtGo</a>
    </article>
    <article class="glass-effect">
        <figure class="fl">
            <img src="/images/proyects/tacos.webp" alt="Imagen del proyecto Tacos Tono" decoding="async" loading="lazy" >
            <figcaption>Página de Inicio</figcaption>
        </figure>
        <header>
            <h3>Tacos Toño</h3>
        </header>
        <p>
            Sitio web creado para <strong>Tacos Toño</strong> con el fin de obtener la certificación de <strong>Implementador Digital</strong> por parte del <em>gobierno del estado de Guanajuato, México</em>.
        </p>
        <div class="fl-start">
            <label>Vue.js</label>
        </div>
        <a href="https://tacostono.shop/" class="glass-effect" target="_blank"><i class="bi bi-box-arrow-up-right"></i> Ver Tacos Toño</a>
    </article>
    <article class="glass-effect">
        <figure class="fl">
            <img src="/images/proyects/launcher.webp" alt="Imagen del proyecto DDSC Web Launcher" decoding="async" loading="lazy" >
            <figcaption>Escritorio</figcaption>
        </figure>
        <header>
            <h3>Launcher de Doki Doki Literature Club</h3>
        </header>
        <p>
            Aplicación que <strong>simula ser un sistema operativo</strong>, con el objetivo de mejorar la experiencia de usuario al instalar mods del videojuego Doki Doki Literature Club.
        </p>
        <div class="fl-start">
            <label>Electron</label>  <label>Vue.js</label>
        </div>
        <a href="https://github.com/YushMC/ddsc_launcher" class="glass-effect" target="_blank"><i class="bi bi-box-arrow-up-right"></i> Ver Repositorio</a>
    </article>
    <article class="glass-effect">
        <figure class="fl">
            <img src="/images/proyects/doki.webp" alt="Imagen del proyecto Doki Doki Spanish Club" decoding="async" loading="lazy" >
            <figcaption>Página de Inicio</figcaption>
        </figure>
        <header>
            <h3>Doki Doki Spanish Club</h3>
        </header>
        <p>
            Sitio web "biblioteca" de modificaciones para el juego de Doki Doki Literarature Club y realizado de manera personal. <strong>Cuenta con un sistema de usuarios, carga de información por medio de APIs, almacenada en una BD (mariaDB)</strong>
        </p>
        <div class="fl-start">
            <label>Vue.js</label> <label>Flight PHP</label> <label>PHP</label> <label>Maria DB</label>
        </div>
        <a href="https://new.dokidokispanish.club/" class="glass-effect" target="_blank"><i class="bi bi-box-arrow-up-right"></i> Ver Doki Doki Spanish Club</a>
    </article>
</section>

<style>
    h2{
        margin-left: 10%;
    }
    section{
        width: 100%;
        padding-inline: 10%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 32px !important;
    }

    article{
        width: 100%;
        display: grid;
        grid-template-rows: auto auto 1fr auto auto;
        gap: 16px;
        figure{
            width: 100%;

            img{
                width: 100%;
                border-radius: 5px;
                aspect-ratio: 16/9;
                object-fit: cover;
            }

            figcaption{
                text-align: center;
                opacity: 0.5;
            }
        }

        label{
            padding-inline: 8px;
            padding-block: 4px;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            background: #ffffffc9;
            color: var(--AcentColor);
        }
    }
</style>