<section id="Tecnologias" class="fl-column">
    <h3><span>Tecnologías</span></h3>
    <article class="fl-btw">
        <figure class="fl-column">
            <img src="/images/icons/sass.webp" alt="Icono de SASS"  decoding="async" loading="lazy" >
            <figcaption>Sass</figcaption>
        </figure>
        <figure class="fl-column">
            <img src="/images/icons/js.webp" alt="Icono de JS"  decoding="async" loading="lazy" >
            <figcaption>JS</figcaption>
        </figure>
        <figure class="fl-column">
            <img src="/images/icons/ts.webp" alt="Icono de TypeScript"  decoding="async" loading="lazy" >
            <figcaption>TypeScript</figcaption>
        </figure>
        <figure class="fl-column">
            <img src="/images/icons/vue.webp" alt="Icono de Vue.js"  decoding="async" loading="lazy" >
            <figcaption>Vue.js</figcaption>
        </figure>
        <figure class="fl-column">
            <img src="/images/icons/nuxt.webp" alt="Icono de Nuxt.js"  decoding="async" loading="lazy" >
            <figcaption>Nuxt.js</figcaption>
        </figure>
        <figure class="fl-column">
            <img src="/images/icons/electron.webp" alt="Icono de Electron"  decoding="async" loading="lazy" >
            <figcaption>Electron</figcaption>
        </figure>
        <figure class="fl-column">
            <img src="/images/icons/astro.webp" alt="Icono de Astro.js"  decoding="async" loading="lazy" >
            <figcaption>Astro</figcaption>
        </figure>
    </article>
    <hr>
    <article class="fl-even">
        <figure class="fl-column">
            <img src="/images/icons/resolve.webp" alt="Icono de DaVinci Resolve"  decoding="async" loading="lazy" >
            <figcaption>DaVinci Resolve</figcaption>
        </figure>
        <figure class="fl-column">
            <img src="/images/icons/blender.webp" alt="Icono de Blender"  decoding="async" loading="lazy" >
            <figcaption>Blender</figcaption>
        </figure>
    </article>
</section>

<style>

section{
    padding-inline: 10%;
    gap: 16px;
    content-visibility: auto;
    contain-intrinsic-size: 5dvh 80dvw;
}

hr{
    width: 80%;
    margin: auto;
    opacity: 0.5;
    height: 2px;
    border: none;
    background: var(--AcentColor);
}

 article{
        width: 90%;
        margin: 16px auto;
        flex-wrap: wrap;
    }
    figure{
        width: 100px;
        align-items: center;

        img{
            width: 100%;
            aspect-ratio: 4/3;
            object-fit: contain;
        }

        figcaption{
            text-align: center;
            font-size: 1rem;
            opacity: 0.8;
        }
    }
</style>