<section id="Tecnologias">
    <h2><span>Tecnologías</span></h2>
    <article class="fl-btw">
        <figure class="fl-column">
            <img src="/images/icons/html.webp" alt="Icono de HTML" loading="lazy">
            <figcaption>HTML</figcaption>
        </figure>
        <figure class="fl-column">
            <img src="/images/icons/css.webp" alt="Icono de CSS" loading="lazy">
            <figcaption>CSS</figcaption>
        </figure>
        <figure class="fl-column">
            <img src="/images/icons/sass.webp" alt="Icono de SASS" loading="lazy">
            <figcaption>Sass</figcaption>
        </figure>
        <figure class="fl-column">
            <img src="/images/icons/ts.webp" alt="Icono de TypeScript" loading="lazy">
            <figcaption>TypeScript</figcaption>
        </figure>
        <figure class="fl-column">
            <img src="/images/icons/vue.webp" alt="Icono de Vue.js" loading="lazy">
            <figcaption>Vue.js</figcaption>
        </figure>
        <figure class="fl-column">
            <img src="/images/icons/nuxt.webp" alt="Icono de Nuxt.js" loading="lazy">
            <figcaption>Nuxt.js</figcaption>
        </figure>
        <figure class="fl-column">
            <img src="/images/icons/astro.webp" alt="Icono de Astro.js" loading="lazy">
            <figcaption>Astro</figcaption>
        </figure>
    </article>
</section>

<style>
    article{
        width: 90%;
        margin: 16px auto;
        flex-wrap: wrap;
    }
    figure{
        width: 100px;
        align-items: center;

        img{
            width: 100%;
            aspect-ratio: 4/3;
            object-fit: contain;
        }

        figcaption{
            text-align: center;
            font-size: 1rem;
            opacity: 0.8;
        }
    }
</style>